# https://harvardartmuseums.org/collections/api
HARVARD_API_KEY=harvard_art_api_key

# empty PW works by default on this image
# ROOT_PW=root_user_pw

# https://data.rijksmuseum.nl/docs/api/
RIJKS_API_KEY=rijks_api_key
