#! /bin/bash
# crontab -e as ubuntu

# hide the cursor if it hasn't moved
@reboot /usr/bin/unclutter -idle 0.01 -root &

# Turn on the display at 8 AM
0 8 * * * /home/ubuntu/src/eo1/cli on

# fetch the morning paper
0 8 * * * /home/ubuntu/src/eo1/cli news

# display art
0 10 * * * /home/ubuntu/src/eo1/cli art

# Turn off the display at 10:30 PM
30 20 * * * /home/ubuntu/src/eo1/off
